/* CSS BY TALA ALYOUSEF */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
    /* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

/* ROOT VARIABLES */
:root {
    --body-font: "Inter";
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dk-gray: #1E1E1E;
    --white: #ffffff;

    background-color: var(--lavender);
    font-family: var(--body-font);
    max-width: 500px;
    margin: auto;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    background-color: var(--purple);
}

h1, h2 {
    font-family: "Kavoon";
    color: var(--white);
}

h1 {
    font-size: 3em;
    padding-top: 5px;
    padding-bottom: 15px;
}

header {
    text-align: center;
}

header p {
    color: var(--white);
    font-style: italic;
}

header h2 {
    font-family: var(--body-font);
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: var(--yellow);
    font-weight: bold;
}

h4 {
    font-size: 1.15em;
    color: var(--purple);
    padding: 10px 0px;
    font-weight: 800;
}

#top, #menu, #our-services, #why-choose-us, #pricing, #first-step {
    padding: 20px;
}

#top {
    padding-bottom: 40px;
}

#menu {
    background-color: var(--yellow);
}

#menu h2 {
    color: var(--dk-gray);
    padding-bottom: 10px;
}

#menu a {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    background-color: var(--white);
    text-decoration: none;
    width: 450px;
    margin: 0 auto 10px;
    padding: 15px 0px;
}

#why-choose-us {
    background-color: var(--pink);
}

#first-step {
    background-color: var(--pink);
}

.service {
    background-color: var(--white);
    margin: 15px 10px;
    border-radius: 15px;
    padding: 20px;
}

.service p {
    font-weight: 500;
    line-height: 23px;
}

#why-choose-us ul {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
    column-gap: 15px;
}

#why-choose-us li {
    background-color: var(--white);
    text-align: center;
    border-radius: 15px;
    padding: 20px 40px;
    font-weight: bold;
}
